SECRET_KEY=your_secret_key_here
MONGO_URI=mongodb://localhost:27017/cyberscan_db

MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=True
MAIL_USE_SSL=False

MAIL_USERNAME=your_email@gmail.com
MAIL_PASSWORD=your_google_app_password
MAIL_DEFAULT_SENDER=your_email@gmail.com

DEV_MODE=False
BASE_URL=http://127.0.0.1:8006

ADMIN_EMAIL=admin@cyberscan.local
ADMIN_USERNAME=admin
ADMIN_PASSWORD=Admin12345